/*================ Hero Taxer Section ================0*/

.hero__taxer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 25%;
    background-color: #3468F2;
}


.hero__taxer--title {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
    align-self: center;
    padding-left: 4rem;
    text-align: left;
    color: white;
    margin-top: 4rem;
}


.hero__taxer--title h1 {
    font-size: 2.8rem;
    line-height: 4rem;
}

.hero__taxer--title h2 {
    font-weight: 200;
    line-height: 2.5rem;
    opacity: 0.8;
}


.hero__taxer--image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.hero__image--responsive {
    display: none;
}

.hero__taxer--image img {
    width: 100%;
    height: auto;
}

.hero__taxer--cta {
    margin-top: 4rem;
}

/*================ Band of Benefits ================0*/
.band__benefitsTaxer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.6rem;
    background-color: #200d50;
    color: white;
    position: relative;
    z-index: 1;
}

.band__benefitsTaxer--text {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-self: center;
}

/*================ Demo Taxer Section ================0*/

.demoTaxer {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto 400px;
    background-color: white;
    padding: 40px;
}


.demoTaxer__description {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
    padding: 40px;
    text-align: center;
}

.demoTaxer__description h2 {
    font-size: 2.6rem;
}


.demoTaxer__description h3 {
    font-weight: bold;
}

.demoTaxer__description--img {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
}

.demoTaxer__description--img img {
    width: 100%;
    height: auto;
}

.demoTaxer__button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 2.1rem;
    padding-bottom: 2rem;
    text-align: center;
}

/*================Authorities Section ================0*/
.authorities {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: repeat(2, auto);
    color: #3c393b;
    text-align: center;
}

.authorities__title {
    grid-column: 2 / 5;
    grid-row: 1;
    font-size: 1.5rem;
    padding-top: 40px;
    place-self: center;
}

.authorities__dian {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
}

.authorities__sat {
    grid-column: 4;
    grid-row: 2;
    place-self: center;
}


.authorities__wto {
    grid-column: 3;
    grid-row: 2;
    place-self: center;
}



@media screen and (min-width: 900px) and (max-width: 1284px) {

    /*----- taxer.html ------*/
    .hero__taxer {
        padding-left: 3rem;
    }


    .hero__taxer--title h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .hero__taxer--title h2 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }


    .hero__taxer--title p {
        font-size: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .hero__taxer--title button {
        padding-top: 1rem;
    }


}

@media screen and (min-width: 539px) and (max-width: 908px) {
    /*------taxer.html ---- */
    .hero__taxer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 4rem;
    }

    .hero__taxer--title {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding-left: 0;
        margin-top: 0;
    }

    .hero__taxer--title button {
        margin-top: 1.2rem;
    }

    .hero__taxer--title h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .hero__taxer--title h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }


    .hero__taxer--image {
        display: none;
    }


    .hero__image--right--responsive {
        display: grid;
    }

    .hero__image--right--responsive img {
        justify-self: center;
    }


    .demoTaxer {
        grid-template-rows: auto auto;
    }


    .demoTaxer__description {
        padding: 10px;
    }


    .demoTaxer__description h2 {
        font-size: 2.2rem;
    }

    .authorities {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .authorities__title {
        grid-column: 1;
        grid-row: 1;
        padding: 40px;
    }

    .authorities__wto {
        grid-column: 1;
        grid-row: 2;

    }

    .authorities__dian {
        grid-column: 1;
        grid-row: 3;

    }

    .authorities__sat {
        grid-column: 1;
        grid-row: 4;

    }

}


@media screen and (min-width: 320px) and (max-width: 540px) {

      /*------taxer.html ---- */
      .hero__taxer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0.4rem;
    }

    .hero__taxer--title {
        text-align: center;
        padding-left: 0;
        margin-top: 3rem;
    }

    .hero__taxer--title button {
        margin-top: 1rem;
    }

    .hero__taxer--title h1 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .hero__taxer--title h2 {
        line-height: 2rem;
    }


    .hero__taxer--image {
        display: none;
    }

    .hero__taxer--image img {
        width: 100%;
        height: auto;
        justify-self: center;
    }

    .demoTaxer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .demoTaxer__description {
        grid-column: 1;
        grid-row: 1;
        padding: 10px;

    }

    .demoTaxer__description p {
        line-height: 1.2rem;

    }

    .demoTaxer__description--img {
        grid-column: 1;
        grid-row: 2;
    }

    .authorities {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 40px;
    }

    .authorities__title {
        grid-column: 1;
        grid-row: 1;
        padding: 30px;
    }

    .authorities__wto {
        grid-column: 1;
        grid-row: 2;
    }

    .authorities__dian {
        grid-column: 1;
        grid-row: 3;

    }

    .authorities__sat {
        grid-column: 1;
        grid-row: 4;

    }

}