/*=======================================================*/
/*================ blog ================0*/
/*=======================================================*/

.blog {
    display: grid;
    grid-template-columns: auto 1fr 1fr 100px;
    grid-template-rows: auto auto;
    padding-bottom: 40px;
}

.blog__categories {
    padding: 2.5em;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    display: inline-grid;
    cursor: pointer;
}

.blog__categories li {
    font-size: 1em;
    color: #7e7e80;
    padding-bottom: 20px;
    list-style: none;
}

.blog__categories li a {
    text-decoration: none;
    color: #4e4e4e;
}

.blog__categories a:hover {
    color: #131d6f;
}

/*================The top post==========================*/
.blog__main {
    grid-column: 2;
    grid-row: 1;
    margin: 30px;
    display: inline-grid;
    grid-template-rows: minmax(100px, auto);
    text-align: left;
}

.blog__main--title {
    align-self: end;
    padding-top: 30px;
}

.blog__main--title h3 {
    font-size: 2.5em;
    color: black;
}

.blog__main img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}


.fort{
    font-size: 22px;
    padding: 2.5em;
}

.fort hr{
    margin-top: 2.5rem;
}

.blog__headers {
    grid-column: 3;
}

.blog__headers h3 {
    text-align: left;
    font-size: 30px;
}

.blog__latest {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 2em;
}

.blog__latest img {
    border-radius: 4px;
}

.blog__latest hr {
    width: 100%;
    justify-self: center;
}

.blog__latest--headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding-bottom: 40px;
    padding-top: 40px;
    column-gap: 30px;
    place-self: center;
}

.blog__latest--headers a {
    place-self: center;
}

.blog__latest--headers h3 {
    font-size: 25px;
}

.blog__latest--headers p {
    place-self: center;
    text-align: left;
}

.blog__latest--headers img {
    place-self: center;
    max-width: 100%;
    height: auto;
}

.blog__latest--headers hr {
    margin: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.pagination {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 1fr;
    padding-bottom: 30px;
}

.pagination__container {
    grid-column: 2;
    display: inline-block;
    place-self: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    border-radius: 5px;
    background-color: #131d6f;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #c6ffe8;
    border-radius: 5px;
}

/*================ End of Blog Section ================0*/

/*================ Blog Detail Section ================0*/
.blog__detail {
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    display: grid;
    grid-template-columns: 5vw 1fr 10vw;
    grid-template-rows: repeat(2, auto);
    margin: 50px;
}

.blog__detail img {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.blog__detail--description {
    grid-column: 2;
    grid-row: 2;
    padding-top: 50px;
    font-size: 1.5rem;
    color: black;
}

.blog__detail--description p {
    line-height: 1.5;
    color: #4e4e4e;
}

.quotes {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 4rem;
}

.blog__detail--category {
    grid-column: 3;
    justify-self: center;
    grid-row: 1;
    padding-top: 40px;
}

@media screen and (min-width: 900px) and (max-width: 1284px) {
/*------ blog.html ----*/
.blog {
    grid-template-columns: auto 1fr 1fr 30px;
}

.blog__detail--description {
    font-size: 1.875em;
}

.blog__main {
    grid-template-rows: auto 1fr;
}

.blog__main--title {
    align-self: start;
}

.blog__main--title h3 {
    font-size: 2em;
}

.blog__headers h3 {
    text-align: left;
    font-size: 24px;
}

.blog__latest--headers h3 {
    font-size: 24px;
    place-self: center;
}

}

@media screen and (min-width: 539px) and (max-width: 908px) {

    /* ---Blog ---- */
    .blog {
        grid-template-columns: 1em auto 1em;
        grid-template-rows: repeat(4, auto);
        padding-bottom: 40px;
    }

    .blog__categories {
        padding: 0;
        top: 2.5em;
        grid-column: 2;
        grid-row: 1;
        justify-content: center;
        position: relative;
    }

    .blog__categories ul {
        display: flex;
        padding-left: 0;
    }

    .blog__categories a {
        padding-right: 0.8em;
    }

    .blog__main {
        grid-column: 2;
        grid-row: 2;
    }

    .blog__main--title h3 {
        font-size: 2em;
        color: black;
    }


    .fort {
        grid-column: 2;
        grid-row: 3;
        display: inline-block;
        margin: 1.5rem
    }


    .blog__latest {
        padding: 0.5em;
        grid-column-end: 3;
    }

    .blog__latest--headers {
        display: grid;
        grid-column: 2;
        grid-row: 4;
        padding: 2.5em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        column-gap: 1.875em;
        place-self: center;
    }

    .blog__latest--headers hr {
        margin: 0.625em;
    }

    .blog__latest--headers p {
        display: none;
    }

    .pagination__container {
        place-self: center;
    }

    .blog__detail {
        margin: 0 1em 1em;
        padding-top: 0;
        grid-template-columns: 1fr;
    }

    .blog__detail--description {
        padding: 0.5em;
    }

    .blog__detail--description h3 {
        font-size: 1em;
    }

    .blog__detail--category {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 540px) {

    .blog {
        grid-template-columns: 1em auto 1em;
        grid-template-rows: repeat(4, auto);
        padding-bottom: 40px;
    }

    .blog__categories {
        padding: 0;
        top: 2.5em;
        grid-column: 2;
        grid-row: 1;
        place-self: center;
        position: relative;
        font-size: 0.70rem;
    }

    .blog__categories ul {
        display: flex;
        padding-left: 0;
    }

    .blog__categories a {
        padding-right: 0.8em;
    }

    .blog__main {
        grid-column: 2;
        grid-row: 2;
    }

    .blog__main--title h3 {
        font-size: 1.5rem;
        color: black;
    }

    .blog__main--title p {
        font-size: 0.8rem;
        color: black;
    }

    .fort {
        grid-column: 2;
        grid-row: 3;
        display: inline-block;
        margin: 1.5rem
    }

    .blog__headers h3 {
        font-size: 1rem;
    }

    .blog__headers p {
        font-size: 0.8rem;
    }

    .blog__latest--headers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        padding-bottom: 40px;
        padding-top: 40px;
        column-gap: 0;
        place-self: center;
    }

    .blog__latest--headers h3 {
        grid-row: 1;
        font-size: 1rem;
        place-self: center;
    }

    .blog__latest--headers p {
        grid-row: 2;
        font-size: 0.8rem;
    }

    .blog__latest--headers img {
        display: none;
    }

    .blog__latest--headers hr {
        margin: 0.625em;
    }

    .pagination {
        grid-template-columns: 1em auto 1em;
    }

    .pagination__container {
        place-self: center;
    }

    .blog__detail {
        grid-template-columns: 1em 1fr 1em;
        margin: 0;
        padding-top: 1em;
    }

    .blog__detail--description h3 {
        margin: 0;
        font-size: 1.5rem;
    }

    .blog__detail--description p {
        font-size: 0.9rem;
    }

    .blog__detail--category {
        display: none;
    }

}
