/*================ Header ================0*/
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 25%;
    background-color: #3468F2;
}


.hero__title {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
    align-self: center;
    text-align: left;
    color: white;
    padding-left: 4rem;
    margin-top: 4rem;
}


.hero__title h1 {
    font-size: 2.8rem;
    line-height: 4rem;
}

.hero__title h2 {
    font-weight: 200;
    line-height: 2.5rem;
    opacity: 0.8;
}

.hero__image--right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.hero__image--right img {
    width: 100%;
    height: auto;
}

.hero__image--right--responsive {
    display: none;
}


.hero__title button {
    margin-top: 4rem;
}


/*================ Products ================0*/

.products {
    display: grid;
    grid-template-columns: 10vw 1fr 8vw 1fr 10vw;
    grid-template-rows: repeat(2, auto);
    padding-bottom: 80px;
    padding-top: 4rem;
}

.products__title {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-bottom: 80px;
}

.products__btn--title {
    text-align: center;
}

.products__taxer {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: inline-grid;
    grid-template-rows: auto 1fr auto;
}

.products__taxer:hover {
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.14);
    transition: 0.3s;
}

.products__taxer img {
    grid-row: 1;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.products__description--taxer {
    grid-row: 2;
    padding-left: 3.25em;
    padding-right: 3.25em;
    text-align: left;
}

.products__description--taxer h3 {
    text-align: left;
}

.products__taxer--button {
    grid-row: 3;
    justify-self: start;
    align-self: center;
    margin: 40px;
}

.products__inspections {
    grid-column: 4;
    grid-row: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: inline-grid;
    grid-template-rows: auto 1fr auto;
}

.products__inspections:hover {
    box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.14);
    transition: 0.3s;
}

.products__inspections img {
    grid-row: 1;
    max-width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.products__description--inspections {
    grid-row: 2;
    padding-left: 3.25em;
    padding-right: 3.25em;
    text-align: left;
}

.products__description--inspections h3 {
    text-align: left;
}

.products__inspections--button {
    grid-row: 3;
    justify-self: start;
    align-self: center;
    margin: 40px;
}

.clients {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    background-color: #200d50;
}

.clients__title {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 1;
    color: #fefffe;
    text-align: center;
    place-self: center;
}

.clients__img--cmma {
    grid-column: 1;
    grid-row: 2;
    place-self: center;

}

/*================ Clients ================0*/
.clients__img--ei {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
}

.clients__img--radar {
    grid-column: 3;
    grid-row: 2;
    place-self: center;
}

.clients__img--logitrade {
    grid-column: 4;
    grid-row: 2;
    place-self: center;
}

.clients__img--aduanet {
    grid-column: 5;
    grid-row: 2;
    place-self: center;;
}


/*================ Using Cases ================0*/
.itExpenses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    padding: 40px;
}

.itExpenses__description {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    padding-left: 80px;
    text-align: left;
}


.itExpenses__image {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.itExpenses__image img {
    max-width: 100%;
    height: auto;
}

/*================ Evaluations ================0*/

.evaluations {
    background: #4a2eff;
    color: white;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 1fr auto;
}

.evaluations__title {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    justify-self: center;
    margin-top: 4rem;
}

.evaluations__image {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    margin-bottom: 4rem;
}

.evaluations__image img {
    width: 100%;
    height: auto;
}

.evaluations__image--responsive {
    display: none;
}

/*================ API service section ================0*/
.api {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 1fr 1fr;
}

.api__title {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    align-self: center;
    padding-top: 4rem;
}

.api__description {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    align-self: center;
}

.api__img--service {
    grid-column: 2;
    grid-row: 2;
    place-self: center;
    padding-bottom: 20px;
}

.api__img--service img {
    max-width: 100%;
    height: auto;
}



@media screen and (min-width: 900px) and (max-width: 1284px) {

/*================ Header ================0*/
.hero__title {
    padding-left: 3rem;
}


.hero__title h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

.hero__title h2 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.hero__title p {
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
}


.hero__title button {
    padding-top: 1rem;
}


/*================ Clients ================0*/

    .clients__img--cmma img {
        width: 121px;

    }

    .clients__img--ei img {
        width: 121px;

    }

    .clients__img--radar img {
        width: 121px;

    }

    .clients__img--aduanet img {
        width: 121px;

    }

    .clients__img--logitrade {
        width: 151px;

    }


}


@media screen and (min-width: 539px) and (max-width: 908px) {
   
    /*================ Header ================0*/
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 4rem;
    }

    .hero__title {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding-left: 0;
        margin-top: 0;
    }

    .hero__title button {
        margin-top: 1.2rem;
    }

    .hero__title h1 {
        font-size: 2rem;
        line-height: 2.8rem;

    }

    .hero__title h2 {
        font-size: 1.2rem;
        line-height: 2rem;

    }

    .hero__image--right {
        display: none;
    }

    .hero__image--right--responsive {
        display: grid;
    }

    .hero__image--right--responsive img {
        justify-self: center;
    }



    /*================ Products ================0*/    
    .products {
        padding-top: 40px;
        grid-template-columns: 12vw 1fr 12vw;
        grid-template-rows: repeat(9, auto);
        grid-gap: 1rem;
    }

    .products__title {
        grid-column: 2;
        grid-row: 1;
        padding-bottom: 40px;
    }

    .products__taxer {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
    }

    .products__taxer img {
        grid-row: 3;
    }

    .products__description--taxer {
        grid-row: 4;
        padding-left: 4em;
        padding-right: 4em;
    }

    .products__taxer--button {
        grid-row: 5;
        place-self: center;
    }

    .products__inspections {
        grid-column: 2;
        grid-row: 6;
        text-align: center;
    }

    .products__inspections img {
        grid-row: 7;
    }

    .products__description--inspections {
        grid-row: 8;
        padding-left: 4em;
        padding-right: 4em;
    }

    .products__inspections--button {
        grid-row: 9;
        place-self: center;
    }

    /*================ Clients ================0*/

    .clients {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        background-color: #200d50;
        padding: 3rem;
    }

    .clients__title {
        grid-column: 1;
        grid-row: 1;
    }


    .clients img {
        height: 150px;
        width: 150px;
    }

    .clients__img--cmma {
        grid-column: 1;
        grid-row: 2;
    }

    .clients__img--ei {
        grid-column: 1;
        grid-row: 3;
    }

    .clients__img--radar {
        grid-column: 1;
        grid-row: 4;
    }

    .clients__img--logitrade {
        grid-column: 1;
        grid-row: 5;
        place-self: center;
    }

    .clients__img--aduanet {
        grid-column: 1;
        grid-row: 6;
        place-self: center;
    }

    /*================ Using Cases ================0*/

    .itExpenses {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .itExpenses__image {
        grid-column: 1;
        grid-row: 1;
    }

    .itExpenses__description {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        text-align: -moz-left;
        padding: 10px;
    }

    /*================ API service section ================0*/
    .api {
        display: grid;
        grid-template-columns: 1em auto 1em;
    }

}


@media screen and (min-width: 320px) and (max-width: 540px) {

    /*================ Header ================0*/
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 0.4rem;
    }

    .hero__title {
        text-align: center;
        padding-left: 0;
        margin-top: 3rem;
    }


    .hero__title button {
        margin-top: 1rem;
    }

    .hero__title h1 {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .hero__title h2 {
        line-height: 2rem;
    }

    .hero__image--right {
        display: none;
    }

    .hero__image--right--responsive {
        display: grid;
    }

    .hero__image--right--responsive img {
        width: 100%;
        height: auto;
        justify-self: center;
    }


    /*================ Products ================0*/
    .products {
        padding-top: 80px;
        grid-template-columns: 2vw 1fr 2vw;
        grid-template-rows: repeat(9, auto);
        grid-gap: 0.5rem;
    }

    .products__title {
        grid-column: 2;
        grid-row: 1;
        padding-bottom: 20px;
    }

    .products__taxer {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
    }

    .products__taxer img {
        grid-row: 3;
    }

    .products__description--taxer {
        grid-row: 4;
        padding-left: 4em;
        padding-right: 4em;
    }

    .products__taxer--button {
        grid-row: 5;
        place-self: center;
    }

    .products__inspections {
        grid-column: 2;
        grid-row: 6;
        text-align: center;
    }

    .products__inspections img {
        grid-row: 7;
    }

    .products__description--inspections {
        grid-row: 8;
        padding-left: 4em;
        padding-right: 4em;
    }

    .products__inspections--button {
        grid-row: 9;
        place-self: center;
    }

}


@media screen and (min-width: 320px) and (max-width: 540px) {

    /*================ Clients ================0*/

    .clients {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        background-color: #200d50;
        padding: 3rem;
    }

    .clients__title {
        grid-column: 1;
        grid-row: 1;
    }


    .clients img {
        height: 150px;
        width: 150px;
    }

    .clients__img--cmma {
        grid-column: 1;
        grid-row: 2;
    }

    .clients__img--ei {
        grid-column: 1;
        grid-row: 3;
    }

    .clients__img--radar {
        grid-column: 1;
        grid-row: 4;
    }

    .clients__img--logitrade {
        grid-column: 1;
        grid-row: 5;
        place-self: center;
    }

    .clients__img--aduanet {
        grid-column: 1;
        grid-row: 6;
        place-self: center;
    }

    /*================ Using Cases ================0*/

    .itExpenses {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        margin-top: 4rem;
    }

    .itExpenses__image {
        grid-column: 1;
        grid-row: 1;
    }

    .itExpenses__description {
        grid-column: 1;
        grid-row: 2;
        text-align: left;
        padding: 10px;
    }


    /*================ Evaluations ================0*/

    .evaluations {
        grid-template-columns: 1em auto 1em;;
    }

    .evaluations__title {
        margin-top: 2rem;
    }


    .evaluations__image {
        margin-bottom: 2rem;
    }

     /*================ API service section ================0*/

     .api {
        display: grid;
        grid-template-columns: 1em auto 1em;
        grid-template-rows: 1fr auto;
        padding-top: 0;
    }

    .api__img--service {
        margin: 2rem;
    }

}


