/*================ Request Forms ================0*/
.forms {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-template-rows: 1fr;
    padding: 80px;
    grid-gap: 20px;
}

.forms__image {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

.forms__image img {
    max-width: 100%;
    height: auto;
}

.forms__card {
    grid-column: 3;
    grid-row: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-grid;
    grid-template-rows: repeat(2, auto);
    border-radius: 30px;
    padding: 50px;
}

.forms__card {
    grid-column: 3;
    grid-row: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-grid;
    grid-template-rows: repeat(2, auto);
    border-radius: 30px;
    padding: 50px;
}

.forms__card--content {
    grid-row: 1;
}

.no_payment_advices {
    margin-bottom: 2rem;
}


.no_payment_advices p {
    font-size: 0.8rem;
    line-height: 1rem;
}

.input__request {
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #5869cf;
    font-size: 16px;
    margin-bottom: 25px;
    width: 100%;
    outline: none;
    height: 40px;
    color: #391872;
}

.forms__terms {
    grid-row: 2;
    justify-self: center;
    padding-top: 30px;
}

.forms__terms p {
    font-size: 12px;
}

.input__file {
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
}


 /*----- request.html ------*/
    .forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 40px;
        grid-gap: 20px;
    }

    .forms__image {
        grid-column: 1;
        grid-row: 1;
        place-self: center;
    }

    .forms__image img {
        max-width: 100%;
        height: auto;
    }

    .forms__card {
        grid-column: 2;
        grid-row: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        display: inline-grid;
        grid-template-rows: repeat(2, auto);
        border-radius: 30px;
        padding: 50px;
    }

    .forms__card--content {
        grid-row: 1;
    }

    .input__request {
        background-color: transparent;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid #5869cf;
        font-size: 16px;
        margin-bottom: 25px;
        width: 100%;
        outline: none;
        height: 40px;
        color: #391872;
    }

    .forms__terms {
        grid-row: 2;
        justify-self: center;
        padding-top: 30px;
    }

    .forms__terms p {
        font-size: 12px;
    }

    .input__file {
        padding-top: 10px;
        padding-bottom: 30px;
        border-radius: 5px;
    }

    @media screen and (min-width: 900px) and (max-width: 1284px) {

    /*----- request.html ------*/
    .forms {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 40px;
        grid-gap: 20px;
    }

    .forms__image {
        grid-column: 1;
        grid-row: 1;
        place-self: center;
    }

    .forms__image img {
        max-width: 100%;
        height: auto;
    }

    .forms__card {
        grid-column: 2;
        grid-row: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        display: inline-grid;
        grid-template-rows: repeat(2, auto);
        border-radius: 30px;
        padding: 50px;
    }

    .forms__card--content {
        grid-row: 1;
    }

    .input__request {
        background-color: transparent;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid #5869cf;
        font-size: 16px;
        margin-bottom: 25px;
        width: 100%;
        outline: none;
        height: 40px;
        color: #391872;
    }

    .forms__terms {
        grid-row: 2;
        justify-self: center;
        padding-top: 30px;
    }

    .forms__terms p {
        font-size: 12px;
    }

    .input__file {
        padding-top: 10px;
        padding-bottom: 30px;
        border-radius: 5px;
    }


}

@media screen and (min-width: 539px) and (max-width: 908px) {

    /*-----request.html -----*/
    .forms {
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 2em;
    }

    .forms__image img {
        display: none;
    }


}


@media screen and (min-width: 320px) and (max-width: 540px) {

     /*-----request.html -----*/
     .forms {
        grid-template-columns: auto;
        grid-gap: 0;
        padding: 1.65em;
    }

    .forms__card--content p {
        line-height: 1rem;
        padding-bottom: 0.8rem;
    }

    .no_payment_advices p {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 0.2rem;
    }

    .no_payment_advices {
        margin-bottom: 2rem;
    }

    .forms__card {
        grid-column: 2;
        grid-row: 1;
        box-shadow: none;
        transition: none;
        display: inline-grid;
        grid-template-rows: repeat(2, auto);
        border-radius: 0;
        padding: 1em;
    }

    .forms__image img {
        display: none;
    }


}