.result {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 120px;
}

.result__message {
    grid-row: 1;
    text-align: center;
}

@media screen and (min-width: 900px) and (max-width: 1284px) {

    .result {
        padding: 8em 2em 8em;
    }

}

@media screen and (min-width: 320px) and (max-width: 540px) {

    .result {
        padding: 1em 1em 4em;
    }

    .result__message img {
        width: 100%;
        height: auto;
    }

    .result__message h2 {
        font-size: 1.5em;
    }

}