nav {
    -webkit-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    width: auto;
    background-color: #131747;
}

.menu_xl {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.menu_xl ul {
    display: flex;
}


.menu_xl li a:hover {
    color: #00ffd0;
}

.brand_image {
    padding-left: 8vw;
    height: 70px;
    width: 70px;
}

.menu__icon {
    justify-self: end;
    padding: 30px 30px;
}

.menu__icon button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
    padding: 0;
}

.menu {
    position: fixed;
    background: #4a2eff;
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-rows: auto;
    color: white;
    opacity: 0.986;
    z-index: -1;
    transition: 0.5s;
}


.menu ul {
    justify-self: center;
    text-align: center;
    padding-left: 0;
    padding-top: 40px;
}

.menu li {
    list-style: none;
    font-size: 1.8rem;
    padding-top: 40px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.dropdown {
    display: flex;
    padding-right: 40px;
    position: relative;
}

.dropdown button {
    background: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: 0;
}


.country {
    position: absolute; /* absolute */
    background: #4a2eff;
    width: 12vw;
    height: 16vh;
    right: 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 8px;
}

.country ul {
    list-style: none;
    padding-inline-start: 5px;
    text-align: center;
}

.country li {
    padding-top: 12px;
}

.country button {
    background: none;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 1199px) and (max-width: 2560px) {
    .nav__options--responsive {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu__icon {
        display: none;
    }
}


@media screen and (min-width: 900px) and (max-width: 1284px) {
    /*-----navbar.html ---*/
    .nav__options--responsive {
        display: none;
    }

    .menu {
        display: none;
    }

    .menu__icon {
        display: none;
    }
}

@media screen and (min-width: 539px) and (max-width: 908px) {
    /*----- navbar  -----*/
    nav {
        height: 4rem;
    }

    .menu_xl {
        padding: 8px;
    }

    .menu__icon {
        padding: 12px 24px;
    }

    .nav__options {
        display: none;
    }

    .brand_image {
        padding-left: 10px;
        height: 50px;
        width: 50px;
    }

    .nav__options--responsive {
        display: none;
    }

    .country {
        display: none;
    }

}

@media screen and (min-width: 320px) and (max-width: 540px) {

    nav {
        height: 4rem;
    }

    .menu_xl {
        padding: 8px;
    }

    .menu__icon {
        padding: 12px 24px;
    }

    .nav__options {
        display: none;
    }

    .brand_image {
        padding-left: 10px;
        height: 50px;
        width: 50px;
    }

    .nav__options--responsive {
        display: none;
    }

    .promo {
        display: none;
    }

    .country {
        display: none;
    }


}