@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: #4e4e4e;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 300;
}


p {
    font-weight: 300;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: #4e4e4e;
}

a:hover {
    color: #a7a6a2;
}

/* button for request.hmtl form */

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}


.btn1 {
    border-radius: 5px;
    padding: 15px 25px;
    width: 100%;
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
}

.btn1:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0 1px 0 0;
}

.blue {
    background-color: #4A2EFF;
    -webkit-box-shadow: 0 3px 6px -4px black;
    -moz-box-shadow: 0 3px 6px -4px black;
    box-shadow: 0 3px 6px -4px black;
    text-decoration: none;
    border: none;
}

.blue:hover {
    background-color: #53176b;
    color: white;
}

.green {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #331e74;
    cursor: pointer;
    background-color: #00ffd0;
    -webkit-box-shadow: 0 3px 6px -4px black;
    -moz-box-shadow: 0 3px 6px -4px black;
    box-shadow: 0 3px 6px -4px black;
    border: none;

}

.green:hover {
    background-color: white;
    color: #3467F2;
}

.white {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #464995;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 0 3px 6px -4px black;
    -moz-box-shadow: 0 3px 6px -4px black;
    box-shadow: 0 3px 6px -4px black;
    border: none;
}

.white:hover {
    background-color: #53176b;
    color: white;
}


@media screen and (min-width: 320px) and (max-width: 540px) {
    body,
    h1 {
        font-size: 0.75rem;
    }

    h2 {
        font-size: 1.125rem;
    }
}