footer {
    display: grid;
    left: 0;
    bottom: 0;
    width: 100%;
    grid-template-columns: 10% 20% auto 20% 10%;
    grid-template-rows: 1fr auto;
    align-items: start;
    background-color: #131747;
    color: white;
}

footer li {
    list-style: none;
    padding-bottom: 10px;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    color: #c1ffbd;
}

.footer__menu {
    align-items: center;
    grid-column: 2;
}

.footer__contacto {
    grid-column: 3;
}

.footer__contacto--description p {
    font-size: 16px;
    line-height: 14px;
}

.footer__social {
    grid-column: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.footer__social--icons {
    grid-row: 2;
}

.footer__social--icons img {
    padding: 10px;
    width: 25px;
    height: 25px;
}

.footer__copyrights {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.footer__copyrights p {
    font-size: 14px;
}

@media screen and (min-width: 900px) and (max-width: 1284px) {

    footer {
        grid-gap: 10px;
    }

}

@media screen and (min-width: 539px) and (max-width: 908px) {

    footer {
        display: grid;
        left: 0;
        bottom: 0;
        width: 100%;
        grid-template-columns: 3em 1fr 3em;
        grid-template-rows: repeat(4, auto);
        background-color: #131747;
        color: white;
    }

    .footer__contacto {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
    }

    .footer__contacto--description p {
        font-size: 14px;
    }

    .footer__social {
        grid-column: 2;
        grid-row: 2;
        justify-self: start;
    }

    .footer__social--icons img {
        padding: 10px;
        width: 1.5625em;
        height: 1.5625em;
    }

    .footer__menu {
        grid-column: 2;
        grid-row: 3;
        justify-content: start;
    }

    .footer__menu p {
        display: none;
    }

    .footer__menu ul {
        display: flex;
        justify-self: start;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
    }

    .footer__menu li {
        font-size: 0.9em;
    }

    .footer__copyrights {
        grid-column: 2;
        grid-row: 4;
        place-self: center;
        text-align: center;
    }

    .footer__copyrights p {
        font-size: 0.875em;
    }

}


@media screen and (min-width: 320px) and (max-width: 540px) {

    footer {
        display: grid;
        left: 0;
        bottom: 0;
        width: 100%;
        grid-template-columns: 3em 1fr 3em;
        grid-template-rows: repeat(4, auto);
    }

    .footer__contacto {
        grid-column: 2;
        grid-row: 1;
        justify-self: start;
    }

    .footer__contacto--description p {
        font-size: 0.875rem;
    }

    .footer__social {
        grid-column: 2;
        grid-row: 2;
        justify-self: start;
    }

    .footer__social--icons img {
        padding: 10px;
        width: 1.5em;
        height: 1.5em;
    }

    .footer__menu {
        grid-column: 2;
        grid-row: 3;
        justify-content: start;
    }

    .footer__menu p {
        display: none;
    }

    .footer__menu ul {
        display: flex;
        justify-self: start;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
    }

    .footer__menu li {
        font-size: 0.8rem;
    }

    .footer__copyrights {
        grid-column: 2;
        grid-row: 4;
        place-self: center;
        text-align: center;
    }

    .footer__copyrights p {
        font-size: 0.7rem;
    }
}




