/*================Hero previo/logerdash Section ================0*/
.hero__previo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 25%;
    background-color: #3468F2;
}

.hero__title--previo {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
    align-self: center;
    text-align: left;
    color: white;
    padding-left: 4rem;
    margin-top: 4rem;
}

.hero__title--previo h1 {
    font-size: 2.8rem;
    line-height: 4rem;
}

.hero__title--previo h2 {
    font-weight: 200;
    line-height: 2.5rem;
    opacity: 0.8;
}

.hero__previo--bg img {
    width: 100%;
    height: auto;
}

.hero__previo--image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}

.hero__previo--image img {
    width: 100%;
    height: auto;
}

.hero__previo--image--responsive {
    display: none;
}

.hero__title--previo button {
    margin-top: 4rem;
}


/*================ Band Benefits Taxer ================0*/

.band__benefitsLoger {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.6rem;
    background-color: #200d50;
    color: white;
    position: relative;
    z-index: 1;
}

.band__benefitsLoger--text {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    align-self: center;
}


/*================ Process Taxer ================0*/

.process {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto auto;
    background-color: white;
    padding: 10px;
}

.process__description--noLoger {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
    padding: 40px;
    text-align: center;
}


.process__description--noLoger img {
    width: 70%;
    height: auto;
}


.process__description--loger {
    grid-column: 2;
    grid-row: 2;
    padding: 40px;
    text-align: center;
}


.process__description--loger img {
    width: 40%;
    height: auto;
}

/*================ Using cases of Previo Section ================0*/
.management {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    background-color: #eeeef1;
    padding: 40px;
}

.management__description {
    grid-column: 1;
    grid-row: 1;
    padding: 40px;
    text-align: left;
    align-self: start;

}

.management__component {
    grid-column: 2;
    grid-row: 1;
    place-self: center;
}

/*================ Savings Calculator ================0*/

.containerSavings {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 1fr;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
}

.component {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 0.5rem;
}


/*---------------////------------
-------------Components Cards----*/

/* --Month Operations Cards -- */

.component__title {
    grid-row: 1;
}

.component__title h2 {
    font-weight: bold;
}

.card-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
}


/* --Saving Cards -- */

.card-2 {
    grid-column: 1;
    grid-row: 3;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
    background-color: #0CBE89;
}

.card-3 {
    grid-column: 2;
    grid-row: 3;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
    background-color: #5431E0;
}

/*---------------////------------
----------Information Cards----*/

.savings__container1 {
    display: grid;
    grid-template-columns: 1fr 90px;
    grid-template-rows: auto auto;
    margin: 1rem;
}

.savings__container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.display__number--title {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.display__number--digit {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    font-size: 4rem;
}

.display__number--digit p {
    margin: 0;
}

.display__buttons--plus {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.display__buttons--plus button {
    font-size: 3rem;
    border-width: 0;
    color: #5431E0;
    border: none;
    outline:none;
}

.display__buttons--minus {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

.display__buttons--minus button {
    font-size: 3rem;
    border-width: 0;
    color: #5431E0;
    border: none;
    outline:none;
}

.display__manHours--icons {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.display__manHours--icons img {
    padding-top: 10px;
    width: 50px;
    height: 50px;
}

.display__manHours {
    grid-column: 1;
    grid-row: 2;
    margin: 10px;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-weight: 700;
    color: #ffffff;
}

.display__manHours--digit {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.display__manHours--digit p {
    margin: 0;
}

.display__results {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
    margin: 10px;
    justify-self: center;
    align-self: center;
    font-weight: 700;
    color: #ffffff;
}

.display__results--digit {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}

.display__results--digit p {
    font-weight: 700;
    margin: 1rem;
    color: #ffffff;
}

/*================ End of Savings Calculator ================0*/

.CtaSavings {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: 1fr;
    text-align: center;
    margin: 2rem;
    padding-bottom: 2rem;
}


.CtaSavings__text {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}



/*================ Benefits Previo Section ================0*/
.benefits {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-rows: auto 1fr 1fr 1fr;
}

.benefits__title {
    grid-column: 2 / span 3;
    grid-row: 1;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    padding: 50px;
}

.benefits__mobile {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: center;
}

.benefits__mobile img {
    max-width: 100%;
    height: auto;
}

.benefits__mobile--description {
    grid-column: 3;
    grid-row: 2;
    justify-self: start;
    align-self: center;
}

.benefits__security {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: center;
}

.benefits__security img {
    max-width: 100%;
    height: auto;
}

.benefits__security--description {
    grid-column: 3;
    grid-row: 3;
    justify-self: start;
    align-self: center;
}

.benefits__computer {
    grid-column: 2;
    grid-row: 4;
    justify-self: end;
    align-self: center;
}

.benefits__computer img {
    max-width: 100%;
    height: auto;
}

.benefits__computer--description {
    grid-column: 3;
    grid-row: 4;
    justify-self: start;
    align-self: center;
}

@media screen and (min-width: 1199px) and (max-width: 2560px) {

}


@media screen and (min-width: 900px) and (max-width: 1284px) {
/*================Hero previo/logerdash Section ================0*/

.hero__previo {
    padding-left: 3rem;
}


.hero__title--previo h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
}

.hero__title--previo h2 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.hero__title--previo p {
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
}

.hero__title--previo button {
    margin-top: 1rem;
}

.process__description--noLoger img {
    width: 70%;
    height: auto;
}

.process__description--loger img {
    width: 60%;
    height: auto;
}

/*================ Using cases of Previo Section ================0*/

.management__description {
    padding-top: 0;
}

.containerSavings {
    grid-template-columns: 20px 1fr 20px;
    padding: 0;
}



}

@media screen and (min-width: 539px) and (max-width: 908px) {

     /* ---LogerDash ----- */
     .hero__previo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 4rem;
    }

    .hero__title--previo {
        grid-column: 1;
        grid-row: 1;
        text-align: center;
        padding-left: 0;
        margin-top: 0;
    }

    .hero__title--previo button {
        margin-top: 1.2rem;
    }

    .hero__title--previo h1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .hero__title--previo h2 {
        font-size: 1.2rem;
        line-height: 2rem;

    }

    .hero__previo--image {
        display: none;
    }

    .hero__previo--image--responsive {
        display: grid;
    }

    .hero__previo--image--responsive img {
        justify-self: center;
    }


    .management {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }


    .management__description {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .management__component {
        grid-column: 1;
        grid-row: 2;
    }

      /*================ Savings Calculator ================0*/
      .containerSavings {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 0;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }

    .benefits {
        grid-template-columns: 1em 1fr 1em;
        grid-template-rows: repeat(7, auto);
    }

    .benefits__title {
        grid-column: 2;
        grid-row: 1;
    }

    .benefits__mobile {
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }

    .benefits__mobile--description {
        grid-column: 2;
        grid-row: 3;
        margin: 40px;
    }

    .benefits__security {
        grid-column: 2;
        grid-row: 4;
        align-self: center;
        justify-self: center;
    }

    .benefits__security--description {
        grid-column: 2;
        grid-row: 5;
        margin: 40px;
    }

    .benefits__computer {
        grid-column: 2;
        grid-row: 6;
        align-self: center;
        justify-self: center;
    }

    .benefits__computer--description {
        grid-column: 2;
        grid-row: 7;
        margin: 40px;
    }

    .component {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px auto auto auto;
        grid-gap: 0.5rem;
    }

    .component__title {
        grid-row: 1;
    }

     /*---------------////------------
    -------------Components Cards----*/
    /* --Month Operations Cards -- */
    .card-1 {
        grid-column: 1;
        grid-row: 2;
        justify-self: stretch;
        height: auto;
        width: auto;
        border-radius: 15px 15px 15px 15px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        color: #727272;
    }


    /* --Saving Cards -- */
    .card-2 {
        grid-column: 1;
        grid-row: 3;
        justify-self: stretch;
        height: auto;
        width: auto;
        border-radius: 15px 15px 15px 15px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        color: #727272;
        background-color: #0CBE89;
    }

    .card-3 {
        grid-column: 1;
        grid-row: 4;
        justify-self: stretch;
        height: auto;
        width: auto;
        border-radius: 15px 15px 15px 15px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        color: #727272;
        background-color: #5431E0;
    }

    /*================ End of Savings Calculator ================*/
    

}

@media screen and (min-width: 320px) and (max-width: 540px) {

  /* ---LogerDash ----- */
  .hero__previo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0.4rem;
}

.hero__title--previo {
    text-align: center;
    padding-left: 0;
    margin-top: 3rem;
}

.hero__title--previo button {
    margin-top: 1rem;
}

.hero__title--previo h1 {
    font-size: 1.8rem;
    line-height: 2rem;
}

.hero__title--previo h2 {
    line-height: 2rem;
}

.hero__previo--image {
    display: none;
}

.hero__previo--image--responsive {
    display: grid;
}

.hero__previo--image--responsive img {
    width: 100%;
    height: auto;
    justify-self: center;
}

.process__description--noLoger img {
    width: 100%;
    height: auto;
}


.process__description--loger img {
    width: 100%;
    height: auto;
}


/*================ Using cases of Previo Section ================0*/

.management {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}


.management__description {
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    text-align: left;
}

.management__component {
    grid-column: 1;
    grid-row: 2;
}

/*================ Savings Calculator ================0*/
.containerSavings {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.component {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto auto auto;
    grid-gap: 0.5rem;
}

.component__title {
    grid-row: 1;
}


/*---------------////------------
-------------Components Cards----*/
/* --Month Operations Cards -- */
.card-1 {
    grid-column: 1;
    grid-row: 2;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
}


/* --Saving Cards -- */
.card-2 {
    grid-column: 1;
    grid-row: 3;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
    background-color: #0CBE89;
}

.card-3 {
    grid-column: 1;
    grid-row: 4;
    justify-self: stretch;
    height: auto;
    width: auto;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    color: #727272;
    background-color: #5431E0;
}

/*================ End of Savings Calculator ================*/


.benefits {
    grid-template-columns: 3em 1fr 3em;
    grid-template-rows: repeat(7, auto);
    padding-bottom: 3em;
}

.benefits__title {
    grid-column: 2;
    grid-row: 1;
    padding: 0;
}

.benefits__mobile {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

.benefits__mobile--description {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center;
}


.benefits__security {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
    justify-self: center;
}

.benefits__security--description {
    grid-column: 2;
    grid-row: 5;
    align-self: center;
}


.benefits__computer {
    grid-column: 2;
    grid-row: 6;
    align-self: center;
    justify-self: center;
}

.benefits__computer--description {
    grid-column: 2;
    grid-row: 7;
    align-self: center;
    justify-self: center;
}

.CtaSavings {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    margin: 2rem;
    padding-bottom: 2rem;
}

}